@media (max-width: 768px) {
    .search h1 {
        font-size: 2.5rem; 
    }

    .search input[type="text"] {
        font-size: 1.5rem; 
        padding: 5px;
        height: 35px;
    }

    .search button {
        font-size: 0.9rem; 
        padding: 10px 15px;
        margin-left: 10px;
    }

    .smg {
        bottom: -20px;
        font-size: 0.9rem;
    }
}